@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">);
  @import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
/* css custom properties */
:root {   
 --my-brand-color: #198754;   
 --my-special-btn-color: ivory;
 --my-special-search-btn-background-color:#00603f;   
    --my-accent-color-light: palegreen;
    --my-accent-color-dark: royalblue;
 /*--bs-dark-rgb: 25,135,84 !important; */
}
    
h1 {font-family: 'Sigmar', sans-serif}
.navbar-brand img {
    height: 40px
}
header {
height: 66px;  
}
nav[data-bs-theme="dark"]{
  background:var(--my-brand-color); 
}
.btn-outline-success {
    color:var(--my-special-btn-color);
    background: var(--my-special-search-btn-background-color);
    border-color: var(--my-special-btn-color);
}
.btn-outline-success:hover{
   background:var(--my-special-btn-color);
 color: var(--my-special-search-btn-background-color);
    color:var();
}



.btn-primary {
    background:var(--my-brand-color);
    border:var(--my-brand-color);
    color:ivory;
}
.btn-primary:hover, .btn-primary:first-child:active{
    background:var(--my-accent-color-light);
    color:var(--my-special-btn-color);
}

.btn-primary:focus {
     background:var(--bs-teal);
    border:var(--my-brand-color);
    box-shadow: 0 0 0 .25rem rgba(25,135,84,.5);
        color:var(--my-special-btn-color);
}



a.active {
  border-bottom: 1px solid var(--my-brand-color) ;
}

.my-special-hero {    
    background-image: url(../images/recycling.illustration.png);
    background-position: center;
    background-size: cover;
}
.my-special-hero--teaser {
  background: rgb(255,255,255,.5);    
}
footer i {
	color:var(--my-brand-color);
} 